<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <nav>
        {% for link in nav %}
          <a href="{{ link.url }}">{{ link.name }}</a>
          <br>
        {% endfor %}
    </nav>
    <body>

    </body>
</html>
