<!DOCTYPE html>
<html>

{% macro tree(file_structure, first)%}
<br>
    {% if first %}
    <ul id="myUL">
    {% else %}
    <ul class="nested">
    {% endif %}
        {% for file in file_structure %}
        {% if file["type"] == "dir" %}
        <li><span class="caret">{{file["name"]}}</span>
            {{tree(file["contents"], False)}}
        </li>
        {% else %}
            <li><a href="{{file["contents"]}}">{{file["name"]}}</a>
            <br>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>
</head>
<body>



{{ tree(nav, True) }}

<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>

</body>
</html>
